PORT=

# Set logger config for google services
GOOGLE_API_JSON_PATH=
GOOGLE_PROJECT_ID=
GOOGLE_LOGGER_CREDENTIAL=

# Those are for the sengrid mail service 
SENGRID_API_KEY=
SENGRID_USER=

NFTS_EMAIL=

# This env is the route to the web service
HOST_CONFIRM_EMAIL=
HOST_RESET_PASSWORD=

# Set pubsub config for google services
PUB_SUB_API_ENDPOINT=
PUB_SUB_PROJECT_ID=
GOOGLE_PUB_SUB_CREDENTIAL=

