PORT=

MONGO_DB_URI=

GOOGLE_API_JSON_PATH=
GOOGLE_PROJECT_ID=
GOOGLE_LOGGER_CREDENTIAL=

SOCIAL_LOGIN_JSON_PATH=
GOOGLE_SERVICE_ACCOUNT=

PUB_SUB_API_ENDPOINT=
PUB_SUB_PROJECT_ID=
GOOGLE_PUB_SUB_CREDENTIAL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=