name: Main CI - Cache

on:
  push:
    branches:
      - 'develop'

jobs:
  Cache:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            package-json:
              - './package.json'

      - uses: actions/cache@v2
        id: node_modules-cache
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
        if: steps.filter.outcome.package-json != 'true'

      - name: Install dependencies
        id: install-dependencies
        run: npm install --saveDev
        if: steps.filter.outcome.package-json != 'true'
